{% style %}
.ic-logo-container img {
    max-width: {{ section.settings.logo_scaling }}%;
}
{% endstyle %}
<div class="password-header-wrapper ic-shadow color-{{ section.settings.color_scheme }}">
    <div class="ic-container">
        <div class="ic-grid ic-py-3 icui-menu-position {{ section.settings.menu-position }} ic-align-items-center">
            <div class="ic-logo-container">
              {% if section.settings.logo-image %}
                {%  liquid
                  if section.settings.logo-image.alt != null
                    assign alt = section.settings.logo-image.alt
                  else
                    assign alt = section.settings.logo-image.src | split: '/' | last | split: '.' | first
                  endif
                %}
                <span class="ic-d-inline-block">
                {{
                  section.settings.logo-image
                  | image_url: width: 940
                  | image_tag:
                    loading: 'lazy',
                    sizes: '(max-width: 639px) 260px, (max-width: 767px) 220px, (max-width: 899px) 345px, (max-width: 1024px) 480px, (max-width: 1279px) 420px, (max-width: 1535px) 680px, 930px',
                    widths: '200, 270, 350, 450, 500, 700, 940',
                    alt: alt
                }}
              </span>
              {% else %}
                {% liquid
                  if section.settings.logo_background
                  assign logo_bg_class = ' password-logo-bg'
                  assign logo_bg_color = section.settings.logo_background_color
                  assign logo_text_color = section.settings.logo_text_color
                  else
                  assign logo_bg_class = nil
                  assign logo_bg_color = 'transparent'
                  assign logo_text_color = nil
                  endif
                %}
                <span class="ic-h3{{ logo_bg_class }}" style="--_logo-bg-color: {{ logo_bg_color }};color: {{ logo_text_color }}">{{ shop.name }}</span>
              {% endif %}
            </div>
        </div>
    </div>
  </div>
  
  {% schema %}
    {
      "name": "t:sections.password_header.name",
      "tag": "header",
      "class": "section-header ic-sticky ic-top-0 ic-zindex-max",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:settings_schema.general.settings.color_scheme.label",
          "default": "scheme_1"
        },
        {
          "type": "image_picker",
          "id": "logo-image",
          "label": "t:sections.password_header.settings.logo.label",
          "info": "t:sections.password_header.settings.logo.info"
        },
        {
          "type": "checkbox",
          "id": "logo_background",
          "default": false,
          "label":"t:sections.password_header.settings.logo_background.label"
        },
        {
          "type": "range",
          "id": "logo_scaling",
          "min": 50,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "t:sections.password_header.settings.logo_scaling.label",
          "default": 100
        },
        {
          "type": "color",
          "id": "logo_background_color",
          "default": "#cff394",
          "label": "t:sections.password_header.settings.logo_background_color.label",
          "info": "t:sections.password_header.settings.logo_background.info"
        },
        {
          "type": "color",
          "id": "logo_text_color",
          "default": "#3d3d3d",
          "label": "t:sections.password_header.settings.logo_text.label",
          "info": "t:sections.password_header.settings.logo_background.info"
        }
      ]
    }
  {% endschema %}
  