<div class="password-footer-wrapper color-{{ section.settings.color_scheme }} gradient-enabled">
    <div class="ic-container">
        <div class="ic-flex ic-flex-wrap ic-align-items-end ic-justify-content-space-between ic-flex-gap-6 ic-py-7 password-footer-content">
            <div class="ic-flex password-newsletter-wrapper">
                {% form 'customer', id: 'passwordContactForm', class: 'password-footer-newsletter' %}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                    {% if section.settings.heading != blank %}
                        <h3 class="ic-block ic-mb-4 ic-font-medium">{{ section.settings.heading }}</h3>
                    {% endif %}

                    <div class="ic-relative ic-i wrapper">
                        <label for="email" class="ic-screen-reader" aria-label="{{ 'sections.footer.enter_your_email' | t }}">{{ "sections.footer.enter_your_email" | t }}</label>
                        <input 
                          type="email" 
                          id="email" 
                          name="contact[email]" 
                          placeholder="{{ "sections.footer.email" | t }}" 
                          class="ic-w-100" 
                          {% if form.errors %}
                            aria-describedby="passwordContactError"
                          {% elsif form.posted_successfully? %}
                            aria-describedby="passwordContactSuccess"
                          {% endif %}
                          required />
                        <button type="submit">{% render 'icon-right' %}</button>
                    </div>
                  
                    {% if form.errors %}
                        {% render 'form-error', form: form, error_id: 'passwordContactError' %}
                    {% elsif form.posted_successfully? %}
                        <div class="success-box ic-text-sm ic-font-medium" id="passwordContactSuccess">
                            <span>{% render 'icon-success' %}</span> {{ "sections.footer.posted_succesfully" | t }}
                        </div>
                    {% endif %}
                  {% endform %}
            </div>
            {% liquid
              if settings.social_facebook_link != blank or settings.social_instagram_link != blank or settings.social_x_link != blank or settings.social_threads_link != blank or settings.social_whatsapp_link != blank or settings.social_pinterest_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_spotify_link != blank or settings.social_linkedin_link != blank or settings.social_discord_link != blank or settings.social_email_link != blank
              assign socials = true
              else
              assign socials = false
              endif
              if section.settings.social_media and socials
              assign social_media = true
              else
              assign social_media = false
              endif
            %}
            {% if social_media %}
              {% assign icon_style = section.settings.social_icon_style %}
              <div class="ic-flex footer-social-container ic-mt-3 ic-mt-lg-auto">
                <ul class="ic-flex footer-social-list">
                  {% if settings.social_facebook_link != blank %}
                    <li>
                      <a
                        href="{{ settings.social_facebook_link | default: '#' }}"
                        class="ic-inline-block"
                        target="_blank"
                        aria-label="{{ 'sections.footer.aria_label.facebook_link' | t }}. {{ 'general.open_new_window' | t }}">
                        {% render 'icon-facebook', style: icon_style %}
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_instagram_link != blank %}
                    <li>
                      <a
                        href="{{ settings.social_instagram_link | default: '#' }}"
                        class="ic-inline-block"
                        target="_blank"
                        aria-label="{{ 'sections.footer.aria_label.instagram_link' | t }}. {{ 'general.open_new_window' | t }}">
                        {% render 'icon-instagram', style: icon_style %}
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_x_link != blank %}
                    <li>
                      <a
                        href="{{ settings.social_x_link | default: '#' }}"
                        class="ic-inline-block"
                        target="_blank"
                        aria-label="{{ 'sections.footer.aria_label.x_link' | t }}. {{ 'general.open_new_window' | t }}">
                        {% render 'icon-x', style: icon_style %}
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_threads_link != blank %}
                    <li>
                      <a
                        href="{{ settings.social_threads_link | default: '#' }}"
                        class="ic-inline-block"
                        target="_blank"
                        aria-label="{{ 'sections.footer.aria_label.threads_link' | t }}. {{ 'general.open_new_window' | t }}">
                        {% render 'icon-threads', style: icon_style %}
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_whatsapp_link != blank %}
                    <li>
                      <a
                        href="{{ settings.social_whatsapp_link | default: '#' }}"
                        class="ic-inline-block"
                        target="_blank"
                        aria-label="{{ 'sections.footer.aria_label.whatsapp_link' | t }}. {{ 'general.open_new_window' | t }}">
                        {% render 'icon-whatsapp', style: icon_style %}
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_pinterest_link != blank %}
                    <li>
                      <a
                        href="{{ settings.social_pinterest_link | default: '#' }}"
                        class="ic-inline-block"
                        target="_blank"
                        aria-label="{{ 'sections.footer.aria_label.pinterest_link' | t }}. {{ 'general.open_new_window' | t }}">
                        {% render 'icon-pinterest', style: icon_style %}
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_tiktok_link != blank %}
                    <li>
                      <a
                        href="{{ settings.social_tiktok_link | default: '#' }}"
                        class="ic-inline-block"
                        target="_blank"
                        aria-label="{{ 'sections.footer.aria_label.tiktok_link' | t }}. {{ 'general.open_new_window' | t }}">
                        {% render 'icon-tiktok', style: icon_style %}
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_tumblr_link != blank %}
                    <li>
                      <a
                        href="{{ settings.social_tumblr_link | default: '#' }}"
                        class="ic-inline-block"
                        target="_blank"
                        aria-label="{{ 'sections.footer.aria_label.tumblr_link' | t }}. {{ 'general.open_new_window' | t }}">
                        {% render 'icon-tumblr', style: icon_style %}
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_snapchat_link != blank %}
                    <li>
                      <a
                        href="{{ settings.social_snapchat_link | default: '#' }}"
                        class="ic-inline-block"
                        target="_blank"
                        aria-label="{{ 'sections.footer.aria_label.snapchat_link' | t }}. {{ 'general.open_new_window' | t }}">
                        {% render 'icon-snapchat', style: icon_style %}
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_youtube_link != blank %}
                    <li>
                      <a
                        href="{{ settings.social_youtube_link | default: '#' }}"
                        class="ic-inline-block"
                        target="_blank"
                        aria-label="{{ 'sections.footer.aria_label.youtube_link' | t }}. {{ 'general.open_new_window' | t }}">
                        {% render 'icon-youtube', style: icon_style %}
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_vimeo_link != blank %}
                    <li>
                      <a
                        href="{{ settings.social_vimeo_link | default: '#' }}"
                        class="ic-inline-block"
                        target="_blank"
                        aria-label="{{ 'sections.footer.aria_label.vimeo_link' | t }}. {{ 'general.open_new_window' | t }}">
                        {% render 'icon-vimeo', style: icon_style %}
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_spotify_link != blank %}
                    <li>
                      <a
                        href="{{ settings.social_spotify_link | default: '#' }}"
                        class="ic-inline-block"
                        target="_blank"
                        aria-label="{{ 'sections.footer.aria_label.spotify_link' | t }}. {{ 'general.open_new_window' | t }}">
                        {% render 'icon-spotify', style: icon_style %}
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_linkedin_link != blank %}
                    <li>
                      <a
                        href="{{ settings.social_linkedin_link | default: '#' }}"
                        class="ic-inline-block"
                        target="_blank"
                        aria-label="{{ 'sections.footer.aria_label.linkedin_link' | t }}. {{ 'general.open_new_window' | t }}">
                        {% render 'icon-linkedin', style: icon_style %}
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_discord_link != blank %}
                    <li>
                      <a
                        href="{{ settings.social_discord_link | default: '#' }}"
                        class="ic-inline-block"
                        target="_blank"
                        aria-label="{{ 'sections.footer.aria_label.discord_link' | t }}. {{ 'general.open_new_window' | t }}">
                        {% render 'icon-discord', style: icon_style %}
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_email_link != blank %}
                    <li>
                      <a
                        href="{{ settings.social_email_link | default: '#' }}"
                        class="ic-inline-block"
                        target="_blank"
                        aria-label="{{ 'sections.footer.aria_label.email_link' | t }}. {{ 'general.open_new_window' | t }}">
                        {% render 'icon-email', style: icon_style %}
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            {% endif %}
        </div>
    </div>
  </div>
{% schema %}
{
  "name": "t:sections.password_footer.name",
  "tag":"footer",
  "class": "section-footer",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings_schema.general.settings.color_scheme.label",
      "default": "scheme_1"
    },
    {
        "type": "text",
        "id": "heading",
        "default": "Be the first to know",
        "label": "t:sections.password_footer.settings.newsletter.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.social_media.content"
    }, 
    {
      "type": "checkbox",
      "id": "social_media",
      "label": "t:sections.footer.settings.social_media.show_media.label",
      "default": true
    },
    {
      "type": "select",
      "id": "social_icon_style",
      "label": "t:sections.footer.settings.social_media.icon_style.label",
      "options": [
        {
        "value": "fill",
        "label": "t:sections.footer.settings.social_media.icon_style.option_1.label"
        },
        {
        "value": "outline",
        "label": "t:sections.footer.settings.social_media.icon_style.option_2.label"
        },
        {
        "value": "colored",
        "label": "t:sections.footer.settings.social_media.icon_style.option_3.label"
        }
      ],
      "default": "fill"
    }
    ]
}
{% endschema %}