<div class="reset-password-wrapper color-{{ section.settings.color_scheme }} gradient-enabled">
    <div class="ic-container">
        <div class="ic-flex ic-justify-content-center ic-align-items-center ic-py-13">
            <div class="ic-flex-col-12 ic-flex-col-md-9 ic-flex-col-lg-7 ic-flex-col-xl-6 ic-flex-col-2xl-5">
                <div class="account-panel color-{{ section.settings.content_color_scheme }}">
                    <h1 class="ic-text-center">{{ "sections.template_customer_password.reset_your_password" | t }}</h1>
                    <div class="ic-mt-8">
                        {% form 'reset_customer_password' %}
                            {% render 'form-error', form: form, error_id: 'password_reset' %}
                            <div class="ic-my-4">
                                <label for="password" class="ic-screen-reader" aria-label="{{ 'sections.template_customer_password.password' | t }}">{{ "sections.template_customer_password.password" | t }}</label>
                                <input 
                                    type="password"
                                    name="customer[password]"
                                    id="password"
                                    autocomplete="new-passowrd"
                                    class="ic-relative ic-block ic-w-100"
                                    placeholder="{{ 'sections.template_customer_password.password' | t }}"
                                >
                            </div>
                            <div class="ic-my-4">
                                <label for="password_confirmation" class="ic-screen-reader" aria-label="{{ 'sections.template_customer_password.password_confirmation' | t }}">{{ "sections.template_customer_password.password_confirmation" | t }}</label>
                                <input 
                                    type="password"
                                    name="customer[password_confirmation]"
                                    id="password_confirmation"
                                    aria-describedby="password_reset"
                                    autocomplete="new-passowrd"
                                    class="ic-relative ic-block ic-w-100"
                                    placeholder="{{ 'sections.template_customer_password.password_confirmation' | t }}"
                                >
                            </div>
                            <div>
                                <button type="submit" class="ic-btn ic-btn-primary ic-w-100 ic-justify-content-center">{{ "sections.template_customer_password.reset_password" | t }}</button>
                            </div>
                        {% endform %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "t:sections.template_reset_password.name",
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:sections.template_reset_password.settings.color_scheme.background.label",
            "default": "scheme_1"
        },
        {
            "type": "color_scheme",
            "id": "content_color_scheme",
            "label": "t:sections.template_reset_password.settings.color_scheme.content.label",
            "default": "scheme_1"
        }
    ]
}
{% endschema %}