<div class="contact-page-wrapper ic-py-14 color-{{ section.settings.color_scheme }} gradient-enabled">
    <div class="page-section-wrapper color-{{ section.settings.page_color_scheme }} gradient-enabled">
        <div class="ic-container">
            <div class="ic-flex ic-flex-col ic-align-items-center ic-py-13">
                <h1 class="text-3xl ic-font-medium ic-mb-8 ic-mb-md-16 title ic-break-words">{{ page.title }}</h1>
                <div class="ic-flex-col-12 ic-flex-col-md-8 ic-flex-col-lg-6 ic-mx-auto description richtext-container ic-break-words">{{ page.content }}</div>
            </div>
        </div>
    </div>
    <div class="contact-page-form ic-py-14 ic-px-6 color-{{ section.settings.contact_color_scheme }} gradient-enabled">
        {% render 'contact-form' %}
    </div>
</div>

{% schema %}
{
    "name": "t:sections.template_page_contact.name",
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:sections.template_page_contact.settings.color_scheme.background.label",
            "default": "scheme_1"
        },
        {
            "type": "color_scheme",
            "id": "page_color_scheme",
            "label": "t:sections.template_page_contact.settings.color_scheme.page.label",
            "default": "scheme_1"
        },
        {
            "type": "color_scheme",
            "id": "contact_color_scheme",
            "label": "t:sections.template_page_contact.settings.color_scheme.contact_form.label",
            "default": "scheme_1"
        }
    ]
}
{% endschema %}