<div class="template-password-wrapper color-{{ section.settings.color_scheme }} gradient-enabled">
    <div class="ic-container">
        <div class="ic-flex ic-justify-content-center ic-align-items-center ic-py-13">
            <div class="ic-flex-col-12 ic-flex-col-md-8 ic-flex-col-lg-6 ic-flex-col-xl-5 ic-flex-col-2xl-4">
                <div x-show="loginForm" class="account-panel">
                    {% if section.settings.form_title != blank %}
                        <h1 class="ic-text-center">{{ section.settings.form_title }}</h1>
                    {% endif %}
                    {% if shop.password_message != blank %}
                        <p class="ic-mt-4">{{ shop.password_message }}</p>
                    {% endif %}
                    <div class="ic-mt-8">
                        {% form 'storefront_password' %}
                            {% if form.errors %}
                                <div class="error-box ic-color-error password-error" role="alert" id="store_password">
                                    {% for error in form.errors %}
                                        <div class="head ic-text-sm ic-font-medium ic-color-error">
                                            <span>{% render 'icon-error' %}</span> <p>{{ form.errors.messages[error] }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="ic-my-4">
                                <label for="password" class="ic-screen-reader" aria-label="{{ 'sections.template_password.password' | t }}">{{ "sections.template_password.password" | t }}</label>
                                <input 
                                    type="password"
                                    name="password"
                                    autocomplete="current-passowrd"
                                    id="password"
                                    class="ic-relative ic-block ic-w-100"
                                    placeholder="{{ 'sections.template_password.password' | t }}"
                                    aria-describedby="store_password"
                                    required
                                >
                            </div>
                            <div>
                                <input type="submit" class="ic-btn ic-btn-primary ic-w-100 ic-justify-content-center" value="{{ 'sections.template_customer_password.sign_in' | t }}">
                            </div>
                        {% endform %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "t:sections.template_password.name",
        "class": "password-template ic-w-100 fill-screen-height",
        "settings":[
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "t:settings_schema.general.settings.color_scheme.label",
                "default": "scheme_1"
            },
            {
                "type": "text",
                "id": "form_title",
                "default": "Please enter the password",
                "label": "t:sections.template_password.settings.title.label"
            }
        ]
    }
{% endschema %}