<link rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css">
{{ 'product-page.css' | asset_url | stylesheet_tag: preload: true }}
{% style %}
  @media (min-width: 1024px) {.shopify-model-viewer-ui:not(.shopify-model-viewer-ui--desktop) .shopify-model-viewer-ui__controls-area { display: flex; } }
{% endstyle %}
  {% liquid
    assign selected_variant = product.selected_or_first_available_variant
    assign media_count = 0
    for media in product.media
      assign media_count = media_count | plus: 1
    endfor
    if media_count < 3
      assign justify_content = 'ic-justify-content-lg-center'
    endif
    for option in product.options_with_values
      if option.name == 'Color'
        assign variant_color = option.selected_value
        for media in product.media
          if media.preview_image.alt contains variant_color
            assign variant_true = true
            break
          endif
        endfor
        break
      endif
    else
      assign variant_true = false
    endfor
  %}
  {%- assign first_model = product.media | where: 'media_type', 'model' | first -%}
  {%- if first_model -%}
    {% assign first_model_ID = first_model.id %}
    <script type="application/json" id="modelProducts-{{ product.id }}">{{ product.media | where: 'media_type', 'model' | json }}</script>
    {% else %}
    {% assign first_model_ID = nil %}
  {%- endif -%}
  {% if section.settings.quick_view %}
    <div id="quick-view-modal" class="product-section-wrapper color-{{ section.settings.color_scheme }} gradient-enabled" data-product-bg={{ section.settings.color_scheme }}>
      <div class="product-page ic-py-13" x-data="{ pickup_location: false, focusedElement: null, focusPickupModal() { this.$nextTick(() => { this.$refs.pickupModal.focus(); }); }, openPickupModal(event) { this.focusedElement = event.target; this.pickup_location = true; this.focusPickupModal(); }, closePickupModal() { this.pickup_location = false; if (this.focusedElement) { this.$nextTick(() => { this.focusedElement.focus(); }); }; } }" @keydown.window.escape="closePickupModal(); $dispatch('removehidden');" @addhidden="$('body').addClass('ic-overflow-hidden')" @removehidden="$('body').removeClass('ic-overflow-hidden')">
        <button class="quick-view-close" aria-controls="shopify-section-{{ section.id }}"><span>{% render 'icon-close' %}</span></button>
        <div class="ic-container">
          <div class="ic-grid ic-grid-template-cols-1{% if product != blank %}{% if product.media.size > 0 %} ic-grid-template-cols-lg-2{% endif %}{% else %} ic-grid-template-cols-lg-2{% endif %} ic-align-items-start product-grid">
            {% if product != blank %}
              {% if product.media.size > 0 %}
                <div class="product-medias ic-grid ic-mb-13 ic-mb-lg-0{% if section.settings.enable_media_background %} fill{% endif %}" id="media-{{ section.id }}" style="--_media-bg-color: {{ section.settings.media_background }}">
                  <a href="#product-detail-{{ section.id }}" class="ic-btn ic-btn-primary skip-link">{{ 'general.skip_to_product_info' | t }}</a>
                  <div class="main-image swiper main-swiper ic-w-100" data-first-model="{{ first_model_ID }}" x-swiper>
                    <div class="swiper-wrapper {{ variant_true }}">
                      {% liquid
                        if variant_true == true
                          if product.media.size > 0
                            for media in product.media
                              assign video_index_1 = section.id | append: forloop.index
                              if media.preview_image.alt contains variant_color or media.preview_image.alt contains 'all variant'
                              echo '<div class="swiper-slide">'
                              render 'product-media', media: media , ext_class: 'main-slide-video' , video_index: video_index_1
                              echo '</div>'
                              endif
                            endfor
                          else
                            echo '<div class="swiper-slide"><div class="placeholder-image ic-px-lg-16 ic-w-100">'
                            echo '{{ "product-5" | placeholder_svg_tag }}'
                            echo '</div></div>'
                          endif
                        else
                          if product.media.size > 0
                            if selected_variant.featured_media
                              assign video_index_id = section.id | append: '0'
                              echo '<div class="swiper-slide">'
                              render 'product-media', media: selected_variant.featured_media , ext_class: 'main-slide-video' , video_index: video_index_id
                              echo '</div>'
                            endif
                            for media in product.media
                              assign video_index_2 = section.id | append: forloop.index
                              if selected_variant.featured_media == media
                              continue
                              endif
                              echo '<div class="swiper-slide">'
                              render 'product-media', media: media , ext_class: 'main-slide-video' , video_index: video_index_2
                              echo '</div>'
                            endfor
                          endif
                        endif
                      %}
                    </div>
                    <button type="button" class="main-swiper-prev">{% render 'icon-left' %}</button>
                    <button type="button" class="main-swiper-next">{% render 'icon-right' %}</button>
                    {% if first_model %}
                      <button class="ic-btn btn-xr" data-shopify-xr data-shopify-model3d-id="{{ first_model_ID }}" data-shopify-title="{{ product.title | escape }}" data-shopify-xr-hidden><span class="xr-model-icon">{% render 'icon-3d-model' %}</span>{{ 'sections.template_product.view_in_your_space' | t }}</button>
                    {% endif %}
                  </div>
                  <button type="button" class="main-swiper-prev">{% render 'icon-left' %}</button>
                  <button type="button" class="main-swiper-next">{% render 'icon-right' %}</button>
                  <div thumbsSlider="" class="swiper thumb-swiper" x-swiper>
                    <div class="swiper-wrapper {{ justify_content }} ic-h-100">
                      {% if variant_true == true %}
                        {% for media in product.media %}
                          {% if media.preview_image.alt contains variant_color or media.preview_image.alt contains 'all variant' %}
                            <div class="swiper-slide ic-p-2" tabindex="0">
                              <div class="thumb-ratio-container">{% render 'product-media', media: media, thumbnail_media: true %}</div>
                            </div>
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        {% if selected_variant.featured_media %}
                          <div class="swiper-slide ic-p-2" tabindex="0">
                            <div class="thumb-ratio-container">{% render 'product-media', media: selected_variant.featured_media, thumbnail_media: true %}</div>
                          </div>
                        {% endif %}
                        {% for media in product.media %}
                          {% if selected_variant.featured_media == media %}
                            {% continue %}
                          {% endif %}
                          <div class="swiper-slide ic-p-2" tabindex="0">
                            <div class="thumb-ratio-container">{% render 'product-media', media: media, thumbnail_media: true %}</div>
                          </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% else %}
              <div class="product-medias ic-grid ic-mb-13 ic-mb-lg-0{% if section.settings.enable_media_background %} fill{% endif %}" id="media-{{ section.id }}" style="--_media-bg-color: {{ section.settings.media_background }}">
                <a href="#product-detail-{{ section.id }}" class="ic-btn ic-btn-primary skip-link">{{ 'general.skip_to_product_info' | t }}</a>
                <div class="placeholder-image ic-w-100">{{ 'product-5' | placeholder_svg_tag }}</div>
              </div>
            {% endif %}
            <div class="product-detail {% if product == blank or product.media.size > 0 %}ic-pl-lg-16{% endif %} centered-content product-form-wrapper" id="product-detail-{{ section.id }}" tabindex="-1">
              <p class="ic-break-words product-vendor">
                {% if product != blank %}
                  {{ product.vendor }}
                  {% else %}
                    {{ 'sections.template_product.vendor' | t }}
                {% endif %}
              </p>

              <a href="{{ selected_variant.url | default: '#' }}" class="ic-h1 ic-block product-title">
                <h2 class="ic-break-words ic-h1 ic-font-medium">
                  {% if product != blank %}
                    {{ product.title }}
                    {% else %}
                      {{ 'sections.template_product.product' | t }}
                  {% endif %}
                </h2>
              </a>

              <div class="block-wrapper price-wrapper">
                {% render 'product-price', product: product, selected_variant: selected_variant, section: section, offer: true, badge: true %}
                {% if section.settings.product_tax %}
                  {%- if cart.taxes_included != blank or shop.shipping_policy.body != blank -%}
                    <div>
                      {% if cart.taxes_included %}{{ 'sections.template_product.tax_included' | t }}{% endif %}
                      {% if cart.taxes_included != blank and shop.shipping_policy.body != blank %}
                        {{ 'sections.template_product.and' | t }}
                      {% endif %}
                      {% if shop.shipping_policy.body != blank %}
                        <a href="{{ shop.shipping_policy.url | default: '#' }}">{{- 'sections.template_product.shipping' | t -}}</a>
                        {{ 'sections.template_product.calculated_checkout' | t }}
                      {% endif %}
                    </div>
                  {%- endif -%}
                {% endif %}
                {% if product != blank %}
                  {% form 'product', product %}
                    <input type="hidden" name="id" value="{{ selected_variant.id }}">
                    <div>{{ form | payment_terms }}</div>
                  {% endform %}
                {% endif %}
              </div>

              {% unless product == blank or product.has_only_default_variant %}
                <variant-selector data-url="{{ product.url }}" data-section="{{ section.id }}" data-url-update="false" class="variant-wrapper load-wrapper centered-grid">
                  <script type="application/json">{{ product.variants | json }}</script>
                  {% for option in product.options_with_values %}
                    {% if section.settings.color_swatches %}
                      {% if option.name == 'Color' %}
                        <div class="option-group" data-option="{{ option.position }}">
                          <p class="option-label" data-name="{{ option.name }}">{{ option.name }}: <span>{{ option.selected_value }}</span></p>
                          <div class="ic-flex ic-flex-gap-4 color-radio-option centered-flex">
                            {% for value in option.values %}
                              {% liquid
                                assign color = value | split: ' ' | last | downcase
                                assign color_image = value | handleize | append: '.png'
                                assign color_image_url = color_image | file_img_url
                                assign color_code = color | color_to_hex
                                if color_code == blank
                                assign color_code = section.settings.color_scheme.settings.color_background
                                endif
                                assign colorBrightness = color_code | color_brightness
                                if colorBrightness > 128
                                assign colorStrike = color_code | color_darken: 100
                                else
                                assign colorStrike = color_code | color_lighten: 100
                                endif
                                assign color_style = "style=background-color:" | append: color | append: ";background-image:url(" | append: color_image_url | append: ");--strike-color:" | append: colorStrike | append: ";"
                                if option.selected_value == value
                                  assign active = 'active'
                                else
                                  assign active = ''
                                endif
                                assign currColorValueTitle = ''
                                for other_selected_color_option in product.options_with_values
                                  if other_selected_color_option.name != option.name
                                    assign currColorValueTitle = currColorValueTitle | append: other_selected_color_option.selected_value
                                    else
                                    assign currColorValueTitle = currColorValueTitle | append: value
                                  endif
                                    unless forloop.last
                                    assign currColorValueTitle = currColorValueTitle | append: ' / '
                                    endunless
                                endfor
                                for variant in product.variants
                                  if variant.title == currColorValueTitle
                                    if variant.available
                                    assign color_variant_available = nil
                                    else
                                    assign color_variant_available = 'sold-out'
                                    endif
                                    break 
                                    else
                                    assign color_variant_available = 'unavailable'
                                  endif
                                endfor
                              %}
                              <div class="radio-container {{ active }} {{ color_variant_available }}">
                                <input type="radio" id="Option-color-{{ section.id }}-{{ forloop.index0 }}" name="options[{{ option.name | escape }}]-{{ section.id }}" value="{{ value | escape }}" class="ic-screen-reader" {% if option.selected_value == value %}checked="checked"{% endif %}>
                                <label for="Option-color-{{ section.id }}-{{ forloop.index0 }}" title="{{ value | escape }}" {{ color_style }} aria-label="{{ value | escape }}">{% if color_image_url != blank %}<img src="{{ color_image | file_img_url }}" alt="{{ value | escape | capitalize }}" width="auto" height="auto" loading="lazy" class="variant-color-image">{% endif %}{{- value -}}</label>
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                        {% continue %}
                      {% endif %}
                    {% endif %}
                    <div class="option-group" data-option="{{ option.position }}">
                      <p class="ic-text-capitalize option-label" data-name="{{ option.name }}">{{ option.name }}: <span>{{ option.selected_value }}</span></p>
                      <div class="ic-flex ic-flex-gap-4 radio-option centered-flex">
                        {% for value in option.values %}
                          {% liquid
                            if option.selected_value == value
                              assign active = 'active'
                            else
                              assign active = ''
                            endif
                            assign currValueTitle = ''
                            for other_selected_option in product.options_with_values
                              if other_selected_option.name != option.name
                                assign currValueTitle = currValueTitle | append: other_selected_option.selected_value
                                else
                                assign currValueTitle = currValueTitle | append: value
                              endif
                                unless forloop.last
                                assign currValueTitle = currValueTitle | append: ' / '
                                endunless
                            endfor
                            for variant in product.variants
                              if variant.title == currValueTitle
                                if variant.available
                                assign variant_available = nil
                                else
                                assign variant_available = 'sold-out'
                                endif
                                break 
                                else
                                assign variant_available = 'unavailable'
                              endif
                            endfor
                          %}
                          <div class="radio-container {{ active }} {{ variant_available }}">
                            <input type="radio" id="Option-{{ option.name }}-{{ section.id }}-{{ forloop.index0 }}" name="options[{{ option.name | escape }}]-{{ section.id }}" value="{{ value | escape }}" class="ic-screen-reader" {% if option.selected_value == value %}checked="checked"{% endif %}>
                            <label for="Option-{{ option.name }}-{{ section.id }}-{{ forloop.index0 }}" aria-label="{{ value | escape }}">{{- value -}}</label>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                </variant-selector>
              {% endunless %}

              <div class="ic-flex ic-flex-gap-4 ic-align-items-center centered-column">
                <label for="quantity-{{ section.id }}" aria-label="{{ 'sections.template_product.quantity' | t }}" class="ic-screen-reader">{{ 'sections.template_product.quantity' | t }}</label>
                {% liquid
                  assign product_id = selected_variant.id
                  assign cart_item_count = 0
                  for item in cart.items
                    if item.variant_id == product_id
                      assign cart_item_count = cart_item_count | plus: item.quantity
                    endif
                  endfor
                %}
                <div class="product-cart-count load-wrapper" data-cart-count="{{ cart_item_count }}">
                  {% liquid
                    unless product == blank or selected_variant.inventory_policy == 'continue' or selected_variant.inventory_management == nil
                      if selected_variant.inventory_quantity < 1
                        assign quantity = 1
                      else
                        assign quantity = selected_variant.inventory_quantity
                      endif
                      assign max_attribute = 'max=' | append: quantity
                    endunless
                  %}
                  <div class="ic-inline-flex quantity-container{% if selected_variant.available == false %} disabled{% endif %}">
                    <button type="button" class="quantity-btn minus ic-px-4" {% if selected_variant.available == false %}disabled{% endif %} aria-label="{{ 'sections.template_product.quantity_buttons.decrease.label' | t }}">-</button>
                    <input type="number" name="quantity" id="quantity-{{ section.id }}" value="1" step="1" min="1" {{ max_attribute }} class="ic-py-4 ic-text-center ic-bg-transparent ic-border-none" autocomplete="off" {% if selected_variant.available == false %}disabled{% endif %}>
                    <button type="button" class="quantity-btn plus ic-px-4" {% if selected_variant.available == false %}disabled{% endif %} aria-label="{{ 'sections.template_product.quantity_buttons.increase.label' | t }}">+</button>
                  </div>
                </div>
              </div>

              <div class="buy-buttons-wrapper">
                {% if product != blank %}
                  {% liquid
                    assign product_id = selected_variant.id
                    assign cart_item_count = 0
                    for item in cart.items
                      if item.variant_id == product_id
                        assign cart_item_count = cart_item_count | plus: item.quantity
                      endif
                    endfor
                  %}
                  {% assign product_form_ID = 'product-form-' | append: section.id %}
                  {% form 'product', product, id: product_form_ID %}
                    <input type="hidden" name="id" value="{{ selected_variant.id }}">
                    <input type="hidden" name="quantity" value="1">
                    {% if section.settings.gift_card_recipient and product.gift_card? %}
                      <div class="gift-card-recipient ic-mb-4">
                        <div class="recipient-checkbox">
                          <input id="recipient-checkbox-{{ section.id }}" type="checkbox" name="properties[__shopify_send_gift_card_to_recipient]" class="ic-screen-reader checkbox-input">
                          <label for="recipient-checkbox-{{ section.id }}" class="checkbox-label">
                            <span class="icon-checkbox">{% render 'icon-check' %}</span>
                            <span class="filter-label">{{ 'sections.template_product.gift_card_recipient.checkbox_label' | t }}</span>
                          </label>
                        </div>
                        <div class="ic-mt-5 recipient-form" style="display: none;">
                          <div class="ic-mb-4">
                            <label class="ic-text-sm ic-font-medium required" for="recipient-email-{{ section.id }}">{{ 'sections.template_product.gift_card_recipient.email_label' | t }}</label>
                            <input class="ic-relative ic-block ic-w-100" id="recipient-email-{{ section.id }}" type="email" name="properties[Recipient email]" value="{{ form.email }}" {% if form.errors contains 'email' %}aria-invalid="true"{% endif %}>
                          </div>
                          <div class="ic-mb-4">
                            <label class="ic-text-sm ic-font-medium" for="recipient-name-{{ section.id }}">{{ 'sections.template_product.gift_card_recipient.name_label' | t }}</label>
                            <input class="ic-relative ic-block ic-w-100" autocomplete="name" id="recipient-name-{{ section.id }}" type="text" name="properties[Recipient name]" value="{{ form.name }}" {% if form.errors contains 'name' %}aria-invalid="true"{% endif %}>
                          </div>
                          <div class="ic-mb-4">
                            <label class="ic-text-sm ic-font-medium" for="recipient-message-{{ section.id }}">{{ 'sections.template_product.gift_card_recipient.message_label' | t }}</label>
                            <textarea class="ic-relative ic-block ic-w-100 ic-min-h-80px" id="recipient-message-{{ section.id }}" maxlength="200" type="text" name="properties[Message]" {% if form.errors contains 'message' %}aria-invalid="true"{% endif %}>{{ form.message }}</textarea>
                            <span class="ic-text-xs">{{ 'sections.template_product.gift_card_recipient.max_characters' | t: max_chars: 200 }}</span>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  <div class="ic-user-select-none load-wrapper centered-margin buy-buttons block-wrapper" id="buy-{{ section.id }}" data-availibility="{% if product == blank or selected_variant.available == false %}out of stock{% else %}available{% endif %}" data-cart-count="{{ cart_item_count }}" {% if selected_variant.inventory_management != null and selected_variant.inventory_policy == 'deny' %}data-max-inventory="{{ selected_variant.inventory_quantity }}"{% endif %}>
                      <button type="submit" name="add" class="ic-btn ic-btn-secondary ic-text-center ic-justify-content-center cart-btn ic-inline-block ic-valign-top ic-w-100 {% if settings.cart_type == 'popup' %}popup{% endif %}" {% if selected_variant.available == false %}disabled{% endif %}>{% if selected_variant.available == false %}{{ 'sections.template_product.sold_out' | t }}{% else %}{{ 'sections.template_product.add_to_cart' | t }}{% endif %}</button>
                      {% if section.settings.dynamic_checkout %}
                        {% if product.gift_card? == false or section.settings.gift_card_recipient == false %}{{ form | payment_button }}{% endif %}
                      {% endif %}
                    </div>
                  {% endform %}
                  {% else %}
                  <div class="ic-user-select-none load-wrapper centered-margin buy-buttons block-wrapper" id="buy-{{ section.id }}" data-availibility="{% if product == blank or selected_variant.available == false %}out of stock{% else %}available{% endif %}">
                    <button type="button" name="add" class="ic-btn ic-btn-secondary ic-text-center ic-justify-content-center cart-btn ic-inline-block ic-valign-top ic-w-100" disabled>{{ 'sections.template_product.sold_out' | t }}</button>
                  </div>
                {% endif %}
                {% if product != blank %}
                  <div class="error-container">
                    <div class="quantity-error ic-color-error ic-flex-gap-2 centered-flex ic-mt-3">
                      {% render 'icon-error' %} <span class="error-message ic-text-sm" aria-live="polite"></span>
                    </div>
                    <div class="add-to-cart-error ic-color-error ic-flex-gap-2 ic-mt-3">
                      {% render 'icon-error' %}<span class="error-message ic-text-sm" aria-live="polite"></span>
                    </div>
                    <div class="gift-card-error ic-color-error ic-flex-gap-2 ic-mt-3">
                      {% render 'icon-error' %}<span class="error-message ic-text-sm" aria-live="polite"></span>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
    {%- liquid
      if product.selected_or_first_available_variant.featured_media
        assign seo_media = product.selected_or_first_available_variant.featured_media
      else
        assign seo_media = product.featured_media
      endif
    -%}
    <script>
      window.addEventListener('load', () => {
        cleanUpVideoPlayers();
        videoPlayerInitialise('#media-{{ section.id }}');
      });
    </script>

{% schema %}
  {
  "name": "t:sections.quick_view.name",
  "class": "section quick-view-section",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "quick_view",
      "default": true,
      "label": "t:sections.quick_view.settings.quick_view.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings_schema.general.settings.color_scheme.label",
      "default": "scheme_1"
    },
    {
      "type": "checkbox",
      "id": "enable_media_background",
      "label": "t:sections.template_product.settings.enable_media_background.label",
      "default": true
    },
    {
      "type": "color",
      "id": "media_background",
      "label": "t:sections.template_product.settings.media_background.label",
      "default": "#FFFFFF",
      "info": "t:sections.template_product.settings.media_background.info"
    },
    {
      "type": "checkbox",
      "id": "product_tax",
      "label": "t:sections.template_product.blocks.price.settings.product_tax.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "color_swatches",
      "default": true,
      "label": "t:sections.template_product.blocks.variant.settings.color_swatches.label",
      "info": "t:sections.template_product.blocks.variant.settings.color_swatches.info"
    },
    {
      "type": "paragraph",
      "content": "t:sections.template_product.blocks.variant.settings.varinat_images.paragraph"
    },
    {
      "type": "checkbox",
      "id": "dynamic_checkout",
      "default": true,
      "label": "t:sections.template_product.blocks.buy_buttons.settings.dynamic_checkout.label",
      "info": "t:sections.template_product.blocks.buy_buttons.settings.dynamic_checkout.info"
    },
    {
      "type": "checkbox",
      "id": "gift_card_recipient",
      "default": true,
      "label": "t:sections.template_product.blocks.buy_buttons.settings.gift_card_recipient.label",
      "info": "t:sections.template_product.blocks.buy_buttons.settings.gift_card_recipient.info"
    }
  ]
}
{% endschema %}